<?xml version="1.0"?>
<!--
/**
 * Digit Software Solutions..
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category   Dss
 * @package    Dss_LoginAsCustomer
 * @author     Extension Team
 * @copyright Copyright (c) 2024 Digit Software Solutions. ( https://digitsoftsol.com )
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dss_LoginAsCustomer::login_log"
            title="Dss Login As Customer Log"
            module="Dss_LoginAsCustomer"
            parent="Magento_Customer::customer"
            sortOrder="50"
            resource="Dss_LoginAsCustomer::login_log"
            action="loginascustomer/customer/"/>
    </menu>
</config>
